* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section {
  width: 100vw;
  height: 100vh;
}
.container {
  margin: auto;
  max-width: 700px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.container h1{
  font-size: 44px;
  text-transform: uppercase;
  color: rgb(8, 139, 118);
  text-align: center;
}
.container .btnContainer {
  box-shadow: 0px 0px 5px gray;
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.btnContainer.active1 {
  background-color: orange;
}
.btnContainer.active2 {
  background-color: rgb(223, 223, 18);
}
.btnContainer.active3 {
  background-color: rgb(240, 34, 212);
}
.btnContainer button{
  padding: 12px 17px;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: all 0.4s ease-in;
  font-size: 16px;
  background-color: white;
  font-weight: 600;
  max-width: 300px;
  width: 90%;
  text-align: center;
}
.btnContainer .btn1 {
  box-shadow: 5px 8px orange;
  border: 1px solid orange;
}
.btnContainer .btn1:hover {
  box-shadow: none;
  background-color: orange;
  color: white;
}
.btnContainer .btn2 {
  box-shadow: 5px 8px rgb(223, 223, 18);
  border: 1px solid rgb(223, 223, 18);
}
.btnContainer .btn2:hover {
  box-shadow: none;
  background-color: rgb(223, 223, 18);
  color: white;
}
.btnContainer .btn3 {
  box-shadow: 5px 8px rgb(240, 34, 212);
  border: 1px solid rgb(240, 34, 212);
}
.btnContainer .btn3:hover {
  box-shadow: none;
  background-color: rgb(240, 34, 212);
  color: white;
}

.btn1.active {
  box-shadow: none;
  background-color: white;
  color: black;
}
.btn1.active:hover{
  border: 1px solid white;
}
.btn2.active {
  box-shadow: none;
  background-color: white;
  color: black;
}
.btn2.active:hover{
  border: 1px solid white;
}
.btn3.active {
  box-shadow: none;
  background-color: white;
  color: black;
}
.btn3.active:hover{
  border: 1px solid white;
}
@media (max-width: 600px) {
  .container h1{
    font-size: 30px;
  }
}